[Unit]
Description=Run block-bad-discv5 every 30 seconds

[Timer]
OnBootSec=10
OnUnitActiveSec=30
AccuracySec=1
Persistent=true

[Install]
WantedBy=timers.target
